.rating-container {

    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;

    .stars {

        display: flex;
        flex-direction: row;
        gap: 4px;

        .base {

            width: 18px;
            height: 24px;
        
        }
        
        .whole {
        
            background-image: url("../../../public/media/stars/star-whole.svg");
        
        }
        
        .half {
        
            background-image: url("../../../public/media/stars/star-half.svg");
        
        }
        
        .empty {
        
            background-image: url("../../../public/media/stars/star-empty.svg");
        
        }

    }

    p {

        all: unset;
        font-size: 18px;
        font-weight: 500;

    }

    

}

