.product-top-details {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

}

.artikul-and-reviews {

    margin-top: 28px;

}

.product-double-container {

    display: flex;
    flex-direction: row;
    gap: 40px;

}

.product-right-column {

    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 48px;

}

.product-actions {

    display: flex;
    flex-direction: row;
    gap: 8px;

}

.product-specs-container {

    display: flex;
    flex-direction: column;
    gap: 32px;

}

.product-specs-info {

    display: flex;
    flex-direction: column;
    gap: 24px;

}

.product-specs-info-box {

    display: flex;
    flex-direction: column;
    gap: 20px;

}

.product-specs-info-table {

    /* border: 1px solid var(--color-neutral-200); */
    border-spacing: 1px;
    border-radius: 6px;
    box-sizing: border-box;
    background-color: var(--color-neutral-200);
    overflow: hidden;

}

.product-table-row {

    height: 40px;

}

.product-table-title {

    width: 224px;
    background-color: var(--color-neutral-100);
    text-align: left;
    font-weight: 400;
    padding-left: 12px;
    box-sizing: border-box;

}

.product-table-cell {

    background-color: #FFFFFF;
    padding-left: 12px;
    box-sizing: border-box;

}