.button-container {
    all: unset;
    display: flex;
    flex-direction: row;
    gap: 8px;

}

.is-text {

    padding-right: 24px;
    padding-left: 24px;

}

.no-text {

    padding-right: 12px;
    padding-left: 12px;

}

/* - - - - DIVIDER - - - - */

.button-type-primary {

    color: var(--color-neutral-white);
    background-color: var(--color-blue-regular);
    height: 40px;
    font-weight: 600;
    border-radius: 6px;
    font-size: 18px;
    align-items: center;

}

.button-type-primary:hover {

    background-color: var(--color-blue-middle);
    cursor: pointer;

}

.button-type-primary:active {

    background-color: var(--color-blue-deep);

}

/* - - - - DIVIDER - - - - */

.button-type-secondary {

    color: var(--color-neutral-black);
    height: 40px;
    font-weight: 600;
    border-radius: 6px;
    font-size: 18px;
    align-items: center;

}

.button-type-secondary:hover {

    background-color: var(--color-neutral-100);
    cursor: pointer;

}

.button-type-secondary:active {

    background-color: var(--color-neutral-200);

}

/* - - - - DIVIDER - - - - */

.button-type-text {

    height: 20px;
    font-weight: 400;
    font-size: 16px;
    align-items: start;
    padding-right: 0;
    padding-left: 0;

}

.button-type-text:hover {

    cursor: pointer;
    color: var(--color-neutral-700);

}

.button-type-text:active {

    cursor: pointer;
    color: var(--color-neutral-600);

}