.item-container {

    width: 208px;
    height: 360px;
    background-color: var(--color-neutral-200);

    img {

        width: 208px;
        height: 208px;

    }

    .details {
    
        

    }

}