.main-content {

    .inputs {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-top: 24px;
        width: 240px;
    }

    input {
        height: 28px;
        padding-left: 12px;
    }

    /* button {
        width: 120px;
        height: 28px;
        margin-top: 24px;
    } */

}

