.checkbox-container {

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    margin-top: 6px;
    margin-bottom: 6px;

    .checkbox-box {

        width: 28px;
        height: 28px;
        border: 2px solid var(--color-neutral-200);
        border-radius: 6px;
        user-select: none;
        box-sizing: border-box;

    }

    .checkbox-box:hover {

        cursor: pointer;
        background-color: var(--color-neutral-100);

    }

    .checkbox-box:active {

        background-color: var(--color-neutral-200);

    }

    .checkbox-label {

        cursor: pointer;
        user-select: none;

    }

    .checkbox-label:hover .checkbox-box {

        

    }

}