:root {

    --color-neutral-white: #FCFCFC;
    --color-neutral-100: #EDEDED;
    --color-neutral-200: #DADADA;
    --color-neutral-600: #7D7D7D;
    --color-neutral-800: #444444;
    --color-neutral-900: #2D2D2D;
    --color-neutral-black: #191919;
    --color-blue-dark: #0027A1;
    --color-blue-regular: #0080D8;
    --color-blue-swift: #C8DBFF;
    --color-red-regular: #F80B62;

}