:root {

    --color-neutral-white: #1A1A1A;
    --color-neutral-100: #292929;
    --color-neutral-200: #3A3A3A;
    --color-neutral-600: #A1A1A1;
    --color-neutral-900: #E5E5E5;
    --color-neutral-black: #FFFFFF;
    --color-blue-dark: #0056CC;
    --color-blue-regular: #339CFF;
    --color-blue-swift: #A8CFFF;

}