:root {

  font-family: "DM Sans";

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFFFFF;
}

html, body, #root {
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: var(--color-neutral-black);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--color-blue-dark);
}

a:active {
  color: var(--color-neutral-900);
}

a:disabled {
  color: var(--color-neutral-600);
}

h1 {
  all: unset;
  font-size: 48px;
  font-weight: 600;
  color: var(--color-neutral-900);
}

h2 {
  all: unset;
  font-size: 24px;
  font-weight: 600;
  color: var(--color-neutral-900);
}

h3 {
  margin: 0;
  font-size: 17px;
  font-weight: 700;
  color: var(--color-neutral-800)
}

p {
  all: unset;
  font-size: 18px;
  color: var(--color-neutral-black);
}