.banner {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 48px;
    width: 1168px;
    height: 304px;

    .banner-image-container {

        position: relative;
        width: 100%;
        height: 248px;
        border-radius: 16px;
        overflow: hidden;

        .banner-image-buttons-container {

            position: absolute;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 1050px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            .banner-button {

                width: 48px;
                height: 48px;
                border-radius: 6px;
                background-color: var(--color-neutral-100);

            }

            .banner-button:hover {

                cursor: pointer;
                background-color: var(--color-neutral-200);

            }

            .banner-button:active {

                cursor: pointer;
                background-color: var(--color-neutral-600);

            }

        }

        .banner-image {

            width: 100%;
            height: 248px;
    
        }

    }

    .banner-image:hover {

        cursor: grab;

    }

    .banner-image:active {

        cursor: grabbing;

    }

    .controls {

        display: flex;
        flex-direction: row;

        .dot {
            
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;

        }

        .dot::after {

            content: "";
            width: 12px;
            height: 12px;
            border-radius: 6px;
            background-color: var(--color-neutral-200);

        }

        .selected::after {

            background-color: var(--color-blue-regular);

        }

        .dot:not(.selected):hover::after {

            background-color: var(--color-blue-swift);

        }

        .dot:not(.selected):hover {

            cursor: pointer;

        }

    }

}